<div class="bloc_bilbo">
    <div class="image"><img src="assets/images/sylvain{{ sylvain }}.jpeg"></div>
    <div class="cadre"><img src="assets/images/cadre.png"></div>
</div>

<div class="art-description mt-4">
<span>{{ museum.title }}</span>
<span>{{ museum.artisteDisplayName }}</span>
</div>
