<div class="footer container-fluid">
    <div class="sofa">
        <img src="assets/images/canape--dos.png">
    </div>
    <div class="bloc_gueridon">
        <div class="dessous"><img src="assets/images/gueridon.png"></div>
        <div class="dessus">
            <a href="/."><img src="assets/images/sonnette.png"></a></div>
    </div>
    <div class="buzzer container-fluid">
        <div class="col-1 offset-8">
            <div class="buzz">
<<<<<<< HEAD
                <a href="/album/index" target="_blank">Journal d'... oeuvre(s) -></a>
=======
                <a href="/album/index">Journal d'... oeuvre(s) -></a>
>>>>>>> 8c34d3005b6229a9df666f7f4b6847d3d547c4f7
            </div>
        </div>
    </div>
</div>
