<div class="footer container-fluid">
    <div class="sofa">
        <img src="assets/images/canape--dos.png">
    </div>
    <div class="bloc_gueridon">
        <div class="dessous"><img src="assets/images/gueridon.png"></div>
        <div class="dessus">
            <a href="/."><img src="assets/images/sonnette.png"></a>
        </div>
        <div class="bell-arrow">
            <img src="assets/images/arrow-red.png">
            <p>Sonnez pour voyager</p>
        </div>
        <div class="commod">
            <img src="assets/images/commode.png">
            <div class="plant"><img src="assets/images/plante.png"></div>
        </div>
    </div>
    <div class="buzzer container-fluid">
        <div class="col-2 offset-10">
            <div class="buzz">
                <div class="ss_buzz">
                    <a href="/album/index">Votre journal est là...</a>
                </div>
            </div>
        </div>
    </div>
</div>
