<div class="footer container-fluid">
    <div class="sofa">
        <img src="assets/images/canape--dos.png">
    </div>
    <div class="bloc_gueridon">
        <div class="dessous"><img src="assets/images/gueridon.png"></div>
        <div class="dessus">
            <a href="/."><img src="assets/images/sonnette.png"></a></div>
    </div>
    <div class="buzzer container-fluid">
        <div class="col-3 offset-8">
            <div class="buzz">
                <a href="/album/index">Votre journal...</a>
            </div>
        </div>
    </div>
</div>
