<div class="container-fluid ">
    <div class="d-flex justify-content-around w-100">
        <div class="col-md-3 weatherContent">
            <img class="weatherImage" src="/assets/images/Clear.jpg" alt="clear sky">
            <img class="weatherImage" src="/assets/images/{{ weather.type }}.jpg"
                 alt="{{ weather.type }}">
            <img class="windowImage" src="/assets/images/window.png" alt="window">
        </div>
        <div class="col-md-6 tableMuseum">
            <div class="imageShow">
                <img class="shadow" src="{{ museum.primaryImageSmall }}" alt="{{ museum.title }}">
            </div>
        </div>
        <div class="col-md-3">
            ABC
        </div>
    </div>
</div>
