{% extends 'layout.html.twig' %}

{% block content %}
    {{ dump(weather) }}
    <h1>Hello Wilder !</h1>
    <div class="tableMuseum">
        <div class="imageShow">
            <img src="{{ museum.primaryImageSmall }}" alt="">
        </div>
        <div class="weatherImage">
            <img src="/assets/images/{{ weather.type }}.jpg"
        </div>
    </div>
{% endblock %}
