{% extends 'layout.html.twig' %}

{% block title %} Voyager de chez soi {% endblock %}

{% block content %}
    <div class="main">
        <div class="calendar row col-6 offset-3">
            <div class="col-calendar column col-6">
                <h3 class="trait">Epoque</h3>
                <p class="trait">{{ period }}</p>
            </div>
            <div class="col-calendar column col-6">
                <h3 class="trait">Année</h3>
                <p class="trait">{{ museum.objectBeginDate }}</p>
            </div>
        </div>
        {% include '/Home/_images.html.twig' %}
        {% include '/Home/_footer.html.twig' %}
    </div>
{% endblock %}
