{% extends 'layout.html.twig' %}

{% block title %} HACKATHON AVRIL 2020 {% endblock %}

{% block content %}
    <div class="main">
        <div class="container-fluid row my-5 d-flex justify-content-around">
            <div class="col-md-9">
                <img class="col-md-8" src="https://fontmeme.com/permalink/200429/1afad37328cfeeb3726dae82656354d9.png"
                     alt="police-retour-vers-le-futur" border="0">
                <h2>La route ? Là où on va on a pas besoin de route !</h2>
                <div class="en-tete calendar container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <h3>Epoque</h3>
                                <p>{{ period }}</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <h3>Année</h3>
                                <p>{{ museum.objectBeginDate }}<p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shelf col-md-3 d-flex justify-content-center">
                <img src="assets/images/etagere.png" alt="étagere">
            </div>
        </div>
        {% include '/Home/_images.html.twig' %}
        {% include '/Home/_footer.html.twig' %}
    </div>
{% endblock %}
