{% extends 'layout.html.twig' %}

{% block content %}
    {{ dump(museum) }}
    <h1>Hello Wilder !</h1>
    <div class="tableMuseum">
        <div class="imageShow">
            <img src="{{ museum.primaryImageSmall }}" alt="">
        </div>
    </div>
{% endblock %}
