.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    width: 20vw;
    text-align: center;
    background-color: var(--color2);
    padding: 5pt;
}

.calendar p {
    width: 20vw;
    text-align: center;
    background-color: var(--color3);
    padding: 8px 0;
}

.row {
    display: flex;
    justify-content: center;
}

h2, h1, img {
    text-align: center;
}
.buzz a:focus {
    outline: 0;
}
.buzz img {
    width: 100pt;
}
.map{
    position: absolute;
    top: -120px;
    left: -100px;
}
.mapsImage {
    width: 250pt;
    top: -30px;
}