@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500i,700&display=swap');

:root{
    /* RGB */
    --color1: rgba(254, 147, 140, 1);
    --color2: rgba(230, 184, 156, 1);
    --color3: rgba(234, 210, 172, 1);
    --color4: rgba(156, 175, 183, 1);
    --color5: rgba(66, 129, 164, 1);

}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}
.tableMuseum {
    position: absolute;
    width: 60%;
    height: 100%;
    max-height: 500px;
    background: var(--color3);
    transform: translateX(50%);
}
