@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
:root {
    /* RGB */
    --color1: rgba(254, 147, 140, 1);
    --color2: rgba(230, 184, 156, 1);
    --color3: rgba(234, 210, 172, 1);
    --color4: rgba(156, 175, 183, 1);
    --color5: rgba(66, 129, 164, 1);
}
h3 {
    width: 20vw;
    text-align: center;
    padding: 5pt;
}
a{
    font-size: 20pt;
    color:#b11a1f;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    transition: 300ms;
}
a:focus {
    outline: 0;
}
body {
    background-size: cover;
    background-image: url("../images/wallNoSmocking.jpg");
    font-family: 'Roboto Mono', monospace;
}

/* datation */
.calendar{
    padding-top: 20px;
    height: 280px;
}
.col-calendar{
    padding-left: 0;
    padding-right: 0;
}
.calendar p {
    color: #b11a1f;
    text-align: center;
    background-color: rgb(231, 219, 219);
    padding: 8px 0;
}
.trait{
    width: 100%;
    text-align: center;
}

/* Le temps */
.weather{
    flex-direction: column;
    align-content: center;
}
.weatherContent {
    display: flex;
    position: relative;
    align-content: center;
    height: 200px;
}
.fenetre {
     position: relative;
     width: 280px;
     height: 200px;
 }
.windowImage{
    height: 200px;
}
.weatherContent>* {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.weatherImage {
    object-fit: cover;
    width: 280px;
    height: 200px;
}
.main-images {
    position: relative;
    height: 350px;
}
.weather-text {
    color: #b11a1f;
    width: 100%;
    margin: auto;
    position: relative;
    height: 28px;
    font-size: 1.5em;
    font-family: 'Mansalva', cursive;
}
.arrow{
    position: absolute;
    left:260px;
    top: 140px;
    z-index: 10;
    transform: rotate(65deg);
    
}
.arrow img{
    height: 80px;
}

/* Etagere / shelf */
.bloc_shelf {
    top: 70pt;
    left: 20pt;
    position: absolute;
}
.shelf {
    position: relative;
    width: 150pt;
}
.object {
    top: -30pt;
    left: 42pt;
    z-index: 10;
    height: 75pt;
    position: absolute;
}
.dessous{
    top: 16px;
    position: relative;
}

/* oeuvre centrale */
.tableMuseum {
    height: 700px;
    align-items: center;
}
.tableMuseum img {
    max-height: 600px;
    border-style: none;
    padding: 3px;
    max-width: 50%;
}
.imageShow {
    padding-top: 25px;
    padding-bottom: 25px;
 /*   background-color: rgba(231, 219, 219, 0.7); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

/* cadre photo */
.bloc_bilbo {
    position: absolute;
    top: 0;
    left: 210pt;
}
.bloc_bilbo img {
    width: 70pt;
    height: 100px;
    position: relative;
}
.cadre {
    width: 70px;
    top: -10px;
    left: -10px;
    position: absolute;
}
.cadre img{
    height: 120px;
    width: 85pt;
}
.photo {
    width: 80px;
}
.art-description {
    font-family: 'Roboto Mono', monospace;
    color: var(--color5);
}

/* map */
.map{
    position: absolute;
    top: -80px;
    left: -130px;
}
.mapsImage {
    width: 230pt;
}

/* FOOTER */
.footer{
    position: relative;
    height: 500px;
    background-size: cover;
    background-image: url("../images/floor.png");
}
.sofa{
    top: 50px;
    left: 200px;
    position: absolute;
    z-index: 50;
}
.sofa img{
    height: 400px;
}
.bloc_gueridon{
    z-index: 20;
    top:40px;
    left:1000px;
    width: 300px;
    position: relative;
}
.dessus{
    left: 60px;
    top: 15px;
    position: absolute;
}
.dessus img {
    height: 60px;
}
.bell-arrow{
    z-index: 40;
    font-family: 'Mansalva', cursive;
    color: #b11a1f;
    font-size: 20pt;
    position: absolute;
    top: 20px;
    left: 140px;
    transform: rotate(-20deg);
}
.bell-arrow img{
    transform: rotate(70deg);
    height: 80px;
}
.commod{
    z-index: 5;
    position: absolute;
    left: 250px;
    top:-110px;
}
.commod img {
    width: 300px;
}
.plant{
    position: absolute;
    top: -80px;
    left: 150px;
}
.plant img{
    width: 100px;
}
.buzz{
    position: relative;
    font-family: 'Mansalva', cursive;
    color: #b11a1f;
}
.ss_buzz{
    position: absolute;
    top: -60px;
}

